# Main dependencies
torch>=2.9.0
numpy
triton

# Tokenizer
rustbpe
tiktoken

# Data loading
pyarrow
requests
filelock

# Configuration
hydra-core>=1.3.2
omegaconf>=2.3.0
PyYAML
tqdm

# Logging & eval
wandb
jinja2
